**PROYECTO: SERVICIO AUTOMOTRIZ “AUTO MOTORS”** 

Empresa colombiana con franquicias. Ofrece servicios y productos como cambio de aceite, cambio de filtros, venta de cubiertas, llantas, entre otras.

**Descripción del proyecto**:
Contamos con datos internos de la empresa como ventas y empleados.
Requieren analizar el impacto de la pandemia para evaluar si vender la empresa, si 
quiebra o si salir a buscar inversores para expansión hacia otros países.

**Objetivo**:
El cliente necesita contar con toda la información ya analizada para tomar una decisión 
final.

**Indicadores básicos para empezar**:
Venta Total 
Cantidad de Elementos vendidos 
Ganancia Facturación Total de Servicios 
Cantidad de Servicios Ofrecidos 
Cantidad de Sedes o ubicaciones disponibles 
Ventas totales por Sedes en cada Rubro o Familia y Servicios 
Ventas realizadas por sus empleados 
Ranking de Ventas / Servicios de Empleados

In [1]:
import pandas as pd

In [2]:
empleados = pd.read_csv("/content/Empleados.csv",sep=";")

In [3]:
ventas = pd.read_csv("/content/Ventas1.csv",sep=";")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,1,2,4,5,7,8,9,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
empleados

    Id_Empleado   Nombre y Apellido
0             1        Juan Pastran
1             2      Esteban Damico
2             3      Julian Quevedo
3             4       Oscar Rosseto
4             5   Valentin Quintero
..          ...                 ...
63           64    Eduardo Monardez
64           65      Leonardo Perez
65           66  Rodolfo Colmenares
66           67        Esteban Vera
67           68        Adrian Ortiz

[68 rows x 2 columns]

In [ ]:
ventas

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
0,C1070956433,PINTO JOHN,1/9/2016,24.0,LL-2R-0038,PILOT STREET 110/80-17,101.0,LLANTA,1,129310,Puente aranda,Calle 13,35.0
1,C1032372566,CESAR CRUZ,1/9/2016,14.0,LL-TCA-0133,TOURING 175/70R13,101.0,LLANTA,2,181034,Suba,Suba,32.0
2,C2865810,PINEDA JAIME,1/9/2016,12.0,LL-TCA-0019,ENERGY XM2 185/65R14,101.0,LLANTA,1,193095,Usaquen,Santa ana,33.0
3,C11210285,VILLALBA RODRIGUEZ FABIO,1/9/2016,24.0,LL-TCA-0009,ENERGY XM2 165/65R13,101.0,LLANTA,2,262069,Puente aranda,Calle 13,35.0
4,C80755314,MOLINA RONALD,1/9/2016,14.0,LL-TCA-0132,NO UTILIZAR,101.0,LLANTA,4,362069,Suba,Suba,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_empleados = pd.DataFrame(empleados)

In [ ]:
df_empleados

    Id_Empleado   Nombre y Apellido
0             1        Juan Pastran
1             2      Esteban Damico
2             3      Julian Quevedo
3             4       Oscar Rosseto
4             5   Valentin Quintero
..          ...                 ...
63           64    Eduardo Monardez
64           65      Leonardo Perez
65           66  Rodolfo Colmenares
66           67        Esteban Vera
67           68        Adrian Ortiz

[68 rows x 2 columns]

In [5]:
df_ventas = pd.DataFrame(ventas)

In [ ]:
df_ventas

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
0,C1070956433,PINTO JOHN,1/9/2016,24.0,LL-2R-0038,PILOT STREET 110/80-17,101.0,LLANTA,1,129310,Puente aranda,Calle 13,35.0
1,C1032372566,CESAR CRUZ,1/9/2016,14.0,LL-TCA-0133,TOURING 175/70R13,101.0,LLANTA,2,181034,Suba,Suba,32.0
2,C2865810,PINEDA JAIME,1/9/2016,12.0,LL-TCA-0019,ENERGY XM2 185/65R14,101.0,LLANTA,1,193095,Usaquen,Santa ana,33.0
3,C11210285,VILLALBA RODRIGUEZ FABIO,1/9/2016,24.0,LL-TCA-0009,ENERGY XM2 165/65R13,101.0,LLANTA,2,262069,Puente aranda,Calle 13,35.0
4,C80755314,MOLINA RONALD,1/9/2016,14.0,LL-TCA-0132,NO UTILIZAR,101.0,LLANTA,4,362069,Suba,Suba,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_ventas = df_ventas.dropna()

In [7]:
df_ventas

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
0,C1070956433,PINTO JOHN,1/9/2016,24.0,LL-2R-0038,PILOT STREET 110/80-17,101.0,LLANTA,1,129310,Puente aranda,Calle 13,35.0
1,C1032372566,CESAR CRUZ,1/9/2016,14.0,LL-TCA-0133,TOURING 175/70R13,101.0,LLANTA,2,181034,Suba,Suba,32.0
2,C2865810,PINEDA JAIME,1/9/2016,12.0,LL-TCA-0019,ENERGY XM2 185/65R14,101.0,LLANTA,1,193095,Usaquen,Santa ana,33.0
3,C11210285,VILLALBA RODRIGUEZ FABIO,1/9/2016,24.0,LL-TCA-0009,ENERGY XM2 165/65R13,101.0,LLANTA,2,262069,Puente aranda,Calle 13,35.0
4,C80755314,MOLINA RONALD,1/9/2016,14.0,LL-TCA-0132,NO UTILIZAR,101.0,LLANTA,4,362069,Suba,Suba,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127250,C891100881,MORENO VARGAS SOCIEDAD ANONIMA,10/3/2020,2.0,LL-PLC-0159,X WORKS HD XDY 12R22.5,101.0,LLANTA,4,5635766,Engativa,Ventas externas,22.0
127251,C900364615,ORGANIZACION SUMA SAS,10/3/2020,1.0,LL-PLB-0024,X MULTI Z 235/75R17.5,101.0,LLANTA,9,6894000,Engativa,Ventas externas,22.0
127252,C900365651,EMPRESA DE TRANSPORTE INTEGRADO DE BOGOTA ETIB...,10/3/2020,2.0,LL-PLB-0024,X MULTI Z 235/75R17.5,101.0,LLANTA,20,11955636,Engativa,Ventas externas,22.0
127253,C900365651,EMPRESA DE TRANSPORTE INTEGRADO DE BOGOTA ETIB...,10/3/2020,2.0,LL-PLB-0031,XZE2 215/75 R17.5,101.0,LLANTA,30,15908063,Engativa,Ventas externas,22.0
127254,C900364615,ORGANIZACION SUMA SAS,10/3/2020,1.0,LL-PLC-0074,X MULTI Z 295/80R22.5,101.0,LLANTA,14,21868000,Engativa,Ventas externas,22.0

In [ ]:
df_ventas['Sede'].unique()

array(['Calle 13', 'Suba', 'Santa ana', 'Ventas externas', 'Calle 80',
       'Av Chile', 'Grandes flotas'], dtype=object)

In [ ]:
df_ventas['Familia'].value_counts()

SERVICIOS      88230
LLANTA         19426
FILTROS        10291
LUBRICANTES     4832
REENCAUCHE      4476
Name: Familia, dtype: int64

In [13]:
df_ventas['Empleado'].value_counts()

10.0    22400
14.0    16357
2.0     13719
44.0    10261
36.0     8247
45.0     6847
50.0     6327
56.0     5518
29.0     4624
3.0      4445
55.0     3833
24.0     3436
12.0     3216
48.0     2916
6.0      1839
15.0     1330
22.0     1161
27.0     1160
13.0     1054
38.0     1019
41.0      990
1.0       976
51.0      788
63.0      711
33.0      558
7.0       527
37.0      501
4.0       434
39.0      212
28.0      187
64.0      171
43.0      165
20.0      159
35.0      157
66.0      136
57.0      114
47.0      111
54.0      104
67.0       90
30.0       78
62.0       59
32.0       57
5.0        50
61.0       42
65.0       30
52.0       28
31.0       23
21.0       19
46.0       17
11.0       14
16.0       12
8.0        10
40.0        8
68.0        4
42.0        3
9.0         1
Name: Empleado, dtype: int64

**Indicadores básicos**

Venta Total = 74426081596

Cantidad de Elementos vendidos = 315067,074

Ganancia Facturación Total de Servicios = 74330622939

Cantidad de Servicios Ofrecidos = 88230

Cantidad de Sedes o ubicaciones disponibles = 'Calle 13', 'Suba', 'Santa ana', 'Ventas externas', 'Calle 80',
       'Av Chile', 'Grandes flotas'

Ventas totales por Sedes en cada Rubro o Familia y Servicios

Ranking de Ventas / Servicios de Empleados = 

1)Adrián Lucero 
2)Javier Garay
3)Esteban Damico
4)Juan Casivar
5)Luis Barquiel
6)Nicolas Castro

Ventas realizadas por sus empleados = 

1)22400
2)16357
3)13719
4)10261
5)8247
6)6847

![Captura1.PNG]()

![Captura2.PNG]()

![Captura3.PNG]()